# Ignore node_modules directory
node_modules/

# Optionally, you can add other files and directories to ignore:
# .env            # Ignore environment variables file
.DS_Store       # Ignore macOS specific file
/build          # Ignore build output directory
/dist           # Ignore distribution directory
/coverage       # Ignore code coverage reports
